<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title>Main Roads ROP</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/mainNew.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.css' rel='stylesheet' />
    <style>
        body { margin:0; padding:0; }
        #map { position:absolute; top:0; bottom:0; width:100%; }
    </style>
    <link rel="stylesheet" href="main.css">
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>

</head>
<body>

<div id='map'></div>

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Arup_logo.svg/1280px-Arup_logo.svg.png" alt="">

<div id='legend'>
    <h4><i class="fa fa-circle" style='color: red' aria-hidden="true"></i>Low Speed (<30%)</h4>
    <h4><i class="fa fa-circle" style='color: darkorange' aria-hidden="true"></i>Medium-Low Speed 30-50%</h4>
    <h4><i class="fa fa-circle" style='color: yellow' aria-hidden="true"></i>Medium-High Speed 50-70%</h4>
    <h4><i class="fa fa-circle" style='color: green' aria-hidden="true"></i>High Speed > 70%</h4>
    <h4>


    <select name="datasets" id="selector" onchange="updateMap(document.getElementById('selector'))">
        <option value="" >Select a Run</option>
        <option value="from 20170607-Albany-AM-averages-quartile.geojson">Albany Highway - 2017-06-07 AM - From Perth</option>
        <option value="from 20170607-Albany-PM-averages-quartile.geojson">Albany Highway - 2017-06-07 PM - From Perth</option>
        <option value="from 20170607-Orrong-AM-averages-quartile.geojson">Orrong Road - 2017-06-07 AM - From Perth</option>
        <option value="from 20170607-Orrong-PM-averages-quartile.geojson">Orrong Road - 2017-06-07 PM - From Perth</option>
        <option value="from 20170608-Orrong-AM-averages-quartile.geojson">Orrong Road - 2017-06-08 AM - From Perth</option>
        <option value="from 20170608-Orrong-PM-averages-quartile.geojson">Orrong Road - 2017-06-08 PM - From Perth</option>
        <option value="from 20170620-Albany-AM-averages-quartile.geojson">Albany Highway - 2017-06-20 AM - From Perth</option>
        <option value="from 20170608-Albany-AM-averages-quartile.geojson">Albany Highway - 2017-06-08 AM - From Perth</option>
        <option value="to 20170607-Albany-AM-averages-quartile.geojson">Albany Highway - 2017-06-07 AM - To Perth</option>
        <option value="to 20170607-Albany-PM-averages-quartile.geojson">Albany Highway - 2017-06-07 PM - To Perth</option>
        <option value="to 20170607-Orrong-AM-averages-quartile.geojson">Orrong Road - 2017-06-07 AM - To Perth</option>
        <option value="to 20170607-Orrong-PM-averages-quartile.geojson">Orrong Road - 2017-06-07 PM - To Perth</option>
        <option value="to 20170608-Orrong-AM-averages-quartile.geojson">Orrong Road - 2017-06-08 AM - To Perth</option>
        <option value="to 20170608-Orrong-PM-averages-quartile.geojson">Orrong Road - 2017-06-08 PM - To Perth</option>
        <option value="to 20170620-Albany-AM-averages-quartile.geojson">Albany Highway - 2017-06-20 AM - To Perth</option>
        <option value="to 20170608-Albany-AM-averages-quartile.geojson">Albany Highway - 2017-06-08 AM - To Perth</option>
    </select>    
    
</div>

<script>

mapboxgl.accessToken = 'pk.eyJ1IjoicnRoZGF0YXNvbHV0aW9ucyIsImEiOiJjaXcwZmM5MHYwNHRsMm9wYnQ4dWo5OXlyIn0.AOv7PgnwznxMW4pCnVjJ7g';
var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/light-v9',
    zoom: 10.087241744546125,
    center: [115.87447958376242, -32.022471334589575]
});

map.on('load', function () {

    var circleRadius=2;

    map.addLayer({
        'id': 'points-low',
        'type': 'circle',
        'filter': ['all', ["==", 'quartile', 0]],
        'source': {
            type: 'geojson',
            data: 'master.geojson'
        },
        'paint': {
            'circle-radius': circleRadius,
            'circle-color': 'red'
        }
    });
    map.addLayer({
        'id': 'points-med-low',
        'type': 'circle',
        'filter': ['all', ["==", 'quartile', 1]],
        'source': {
            type: 'geojson',
            data: 'master.geojson'
        },
        'paint': {
            'circle-radius': circleRadius,
            'circle-color': 'darkorange'
        }
    });
    map.addLayer({
        'id': 'points-med-high',
        'type': 'circle',
        'filter': ['all', ["==", 'quartile', 2]],
        'source': {
            type: 'geojson',
            data: 'master.geojson'
        },
        'paint': {
            'circle-radius': circleRadius,
            'circle-color': 'yellow'
        }
    });
    map.addLayer({
        'id': 'points-high',
        'type': 'circle',
        'filter': ['all', ["==", 'quartile', 3]],
        'source': {
            type: 'geojson',
            data: 'master.geojson'
        },
        'paint': {
            'circle-radius': circleRadius,
            'circle-color': 'green'
        }
    });
    
    
    

});

function updateMap(e){
    var value = e.options[e.selectedIndex].value.split(" ");
    var tofrom = value[0];
    var selectedvalue = value[1];
    console.log(tofrom)
    if (tofrom == "from"){
        updatefromMap(selectedvalue);
    }
    if (tofrom == "to"){
        updatetoMap(selectedvalue);
    }
}

function updatefromMap(filename){
        try {
            map.removeLayer('from-perth-high')
            map.removeSource('from-perth-high')
            map.removeLayer('from-perth-medhigh')
            map.removeSource('from-perth-medhigh')
            map.removeLayer('from-perth-medlow')
            map.removeSource('from-perth-medlow')
            map.removeLayer('from-perth-low')
            map.removeSource('from-perth-low')
            map.removeLayer('to-perth-high')
            map.removeSource('to-perth-high')
            map.removeLayer('to-perth-medhigh')
            map.removeSource('to-perth-medhigh')
            map.removeLayer('to-perth-medlow')
            map.removeSource('to-perth-medlow')
            map.removeLayer('to-perth-low')
            map.removeSource('to-perth-low')
        }catch(e){

        }
        map.addLayer({
            'id': 'from-perth-high',
            'type': 'fill',
            'filter': ['all', ["==", 'from_perth_quintile', 0]],
            'source': ('from-perth-high', {
                type: 'geojson',
                data: filename
            }),
            'paint': {            
                'fill-color': 'green'
            }
        });

        map.addLayer({
            'id': 'from-perth-medhigh',
            'type': 'fill',
            'filter': ['all', ["==", 'from_perth_quintile', 1]],
            'source': ('from-perth-medhigh', {
                type: 'geojson',
                data: filename
            }),
            'paint': {            
                'fill-color': 'yellow'
            }
        });

        map.addLayer({
            'id': 'from-perth-medlow',
            'type': 'fill',
            'filter': ['all', ["==", 'from_perth_quintile', 2]],
            'source': ('from-perth-medlow', {
                type: 'geojson',
                data: filename
            }),
            'paint': {            
                'fill-color': 'darkorange'
            }
        });

        map.addLayer({
            'id': 'from-perth-low',
            'type': 'fill',
            'filter': ['all', ["==", 'from_perth_quintile', 3]],
            'source': ('from-perth-low', {
                type: 'geojson',
                data: filename
            }),
            'paint': {            
                'fill-color': 'red'
            }
        });

        removePoints()
        
    
        
        
    
}

function updatetoMap(filename){
        try {
            map.removeLayer('to-perth-high')
            map.removeSource('to-perth-high')
            map.removeLayer('to-perth-medhigh')
            map.removeSource('to-perth-medhigh')
            map.removeLayer('to-perth-medlow')
            map.removeSource('to-perth-medlow')
            map.removeLayer('to-perth-low')
            map.removeSource('to-perth-low')
            map.removeLayer('from-perth-high')
            map.removeSource('from-perth-high')
            map.removeLayer('from-perth-medhigh')
            map.removeSource('from-perth-medhigh')
            map.removeLayer('from-perth-medlow')
            map.removeSource('from-perth-medlow')
            map.removeLayer('from-perth-low')
            map.removeSource('from-perth-low')
        }catch(e){

        }
        map.addLayer({
            'id': 'to-perth-high',
            'type': 'fill',
            'filter': ['all', ["==", 'to_perth_quintile', 0]],
            'source': ('to-perth-high', {
                type: 'geojson',
                data: filename
            }),
            'paint': {            
                'fill-color': 'green'
            }
        });

        map.addLayer({
            'id': 'to-perth-medhigh',
            'type': 'fill',
            'filter': ['all', ["==", 'to_perth_quintile', 1]],
            'source': ('to-perth-medhigh', {
                type: 'geojson',
                data: filename
            }),
            'paint': {            
                'fill-color': 'orange'
            }
        });

        map.addLayer({
            'id': 'to-perth-medlow',
            'type': 'fill',
            'filter': ['all', ["==", 'to_perth_quintile', 2]],
            'source': ('to-perth-medlow', {
                type: 'geojson',
                data: filename
            }),
            'paint': {            
                'fill-color': 'darkorange'
            }
        });

        map.addLayer({
            'id': 'to-perth-low',
            'type': 'fill',
            'filter': ['all', ["==", 'to_perth_quintile', 3]],
            'source': ('to-perth-low', {
                type: 'geojson',
                data: filename
            }),
            'paint': {            
                'fill-color': 'red'
            }
        });

        removePoints()
        
    
}

function removePoints(){
    map.removeLayer('points-low')
    map.removeLayer('points-med-low')
    map.removeLayer('points-med-high')
    map.removeLayer('points-high')
}


</script>

</body>
</html>